.header{
	background-color: #2b78e4;
}
.navbar-default{
	background-color: #2b78e4;
}
.navbar-default .navbar-nav>li>a{
	color: #ffffff
}
.navbar-nav{
	background-color: #cc0000;
}
.navbar{
	border: 0px;
	margin-bottom: 0px;
}
h1{
	color: #ffffff;
	margin-top: 2px;
	margin-bottom: 2px;
}
.navbar2{
	font-size: 22px;
	min-height: 70px;
}
.nav >li{
	margin-top: 9px;
}
.nav1 > li{
	margin-top: 0px;
	float: right !important;
}