.vertical-bar {

    list-style-type: none;
    margin: 0;
    padding: 0;
  
    background-color: #f1f1f1;
    border: 0.01vw solid black;
}

.vertical-bar > li {
	margin-top: auto;
    text-align: center;
    border-bottom: 0.01vw solid #555;
}
.vertical-bar > li a {
	font-size: 2vw;
	line-height: 8vw;
	height: 8vw;
    display: block;
    color: #000;

    text-decoration: none;
}

/* Change the link color on hover */
.vertical-bar > li a:hover {
    background-color: #555;
    color: white;
}

.vertical-bar >li:last-child {
    border-bottom: none;
}

h3{
font-size: 3vw;
color: red;
}

.paragraph{
overflow: auto;
font-size: 1.75vw;
color: black;
}
.img-responsive {
  display: inline-block;
  height: auto;
  max-width: 100%;
}


